<h2>FAQ</h2>

<<<<<<< HEAD
<p>Here are answers to some of the frequently asked questions:</p>  
=======
<p>Here are answers to some of the frequently asked questions:</p>
>>>>>>> checkpoint-rails-html-css
